Flask==3.1.0
Flask-SQLAlchemy==3.1.1
marshmallow==3.21.3
marshmallow-sqlalchemy==1.0.0
SQLAlchemy==2.0.31
Flask-Cors==4.0.1
python-dotenv==1.1.0
psycopg2-binary == 2.9.10

pytest == 7.4.4
pytest-mock == 3.14.0
pytest-env == 0.8.2
pytest-cov == 6.1.1
